<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stacker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Stacker.Properties.Settings>
            <setting name="IntervalForStayMode" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="IntervalForSitMode" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MoveDeskAfterNotificationInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SnoozeInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HeightInStayMode" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="HeightInSitMode" serializeAs="String">
                <value>100</value>
            </setting>
        </Stacker.Properties.Settings>
    </userSettings>
</configuration>